<div class="carousel-container">
    <div class="ticker">
      <div class="ticker__wrap">
        <div class="ticker__content">
          <span class="ticker__item" *ngFor="let highlight of highlights">
            {{ highlight }}
            <span class="separator">•</span>
          </span>
        </div>
        <div class="ticker__content">
          <span class="ticker__item" *ngFor="let highlight of highlights">
            {{ highlight }}
            <span class="separator">•</span>
          </span>
        </div>
        <div class="ticker__content">
          <span class="ticker__item" *ngFor="let highlight of highlights">
            {{ highlight }}
            <span class="separator">•</span>
          </span>
        </div>
        <div class="ticker__content">
          <span class="ticker__item" *ngFor="let highlight of highlights">
            {{ highlight }}
            <span class="separator">•</span>
          </span>
        </div>
      </div>
    </div>
  </div>