.spacer {
    flex: 1 1 auto;
}

.question-bar {
    padding: 12px 16px;
    font-weight: 500;
    background-color: var(--button-box);
    color: black;
    display: flex;
    align-items: center;
}

.question-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60%;
}

.question-index,
.question-points {
    font-size: 16px;
    font-weight: 500;
}