.top {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.quiz-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    margin-left: 16px;
    text-align: left;
}