.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFFFDE !important;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.title {
    color: #009688 !important;
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0;
}

.main-card {
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.submit-button {
    width: 100%;
}

.error-message {
    color: red;
    font-size: 12px;
}

.nav-link {
    text-align: center;
    margin: 16px;
}

.teal-link {
    color: #009688 !important;
    font-weight: 550;
    text-decoration: none;
}

.teal-link:hover {
    text-decoration: underline;
}

mat-card-header {
    display: flex;
    justify-content: center;
}

mat-card-footer {
    margin-top: auto;
    text-align: left;
}

.floating-label-group {
    position: relative;
    margin-bottom: 16px;
}

.floating-label-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
}

.floating-label-group input:focus {
    border-color: #009688 !important;
}

.floating-label-group label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease all;
    color: #999;
    background: #fff;
    padding: 0 4px;
}

.floating-label-group input:focus+label,
.floating-label-group input:not(:placeholder-shown)+label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    color: #009688 !important;
}

.submit-button {
    background-color: #009688 !important;
    color: #fff !important;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
}

.quit-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    background-color: #d32f2f !important; 
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 4px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000; 
    transition: background-color 0.2s ease;
}

.quit-button:hover {
    background-color: #b71c1c !important; 
}
