.title-card {
    color: var(--button-box);
    font-size: 48;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--button-box);
    text-align: center;
    padding: 20px;
    max-width: fit-content;
}

.title {
    margin: 15px;
}

.timer-container {
    margin: 20px;
}
